<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-5">Bienvenidos a nuestra tienda</h1>
            <p class="lead text-center mb-5">Explora nuestra amplia variedad de productos y artículos únicos</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="https://i.pinimg.com/originals/28/f1/a9/28f1a972e13e4281b5273891ead173eb.jpg" alt="
        Logo de tienda" class="img-fluid mb-3">
        </div>
        <div class="col-md-6">
            <h2>Nuestra selección</h2>
            <p>En nuestra tienda encontrarás ropa y accesorios de moda, artículos de decoración y regalos especiales,
                todo cuidadosamente seleccionado para satisfacer tus necesidades y gustos.</p>
            <p>Además, nuestro equipo de expertos en servicio al cliente está siempre aquí para ayudarte en todo lo que
                necesites.</p>
            <a href='http://127.0.0.1:8000/productos' class="btn btn-primary mt-3">Explorar productos</a>
        </div>
    </div>
</div>